 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-2">
                    <p>I am a software developer with experience in web development in technologies such as Ruby on Rails, PHP, Wordpress. Always looking to never stop learning📚💻.</p>
                </div>
                <div class="col-lg-4">
                    <p>I like ride my bike🚵‍♂️, play videogames🎮 and walk with my dog🐕‍🦺</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="../cv/CV-JosephMurillo.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
